@model LoginVM
@{var returnUrl = Context.Request.Query["ReturnUrl"];}
<div>
    <div>
        <section>
            <form method="post">
                <h4>User LogIn</h4>
                <hr />
                <div asp-validation-summary="All"></div>

                <div>
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <label asp-for="Password"></label>
                    <input asp-for="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="RememberMe"></label>
                    <input type="checkbox" asp-for="RememberMe" value="false" />
                </div>
                <button type="submit">Log in</button>
            </form>
        </section>
    </div>
</div>